# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Cache Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache

# Cache Rust
libs/rustlib/target
!libs/rustlib/target/release/*.so
!libs/rustlib/target/release/*.dylib
!libs/rustlib/target/release/*.dll

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Logs
*.log

# Temporary files
*.tmp
*.temp
